<ion-view view-title="Login to your LinguaZone account">
  <ion-content class="padding">
    <form name="loginForm" ng-submit="submitLoginInfo()" ng-controller="LoginFormCtrl">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="email" placeholder="Email address (or LinguaZone username)" ng-model="loginData.email" novalidate focus-after-transition>
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="loginData.password">
          </label>
      </div>
      <span class="formFeedbackError" ng-show="error">
        {{error}}
      </span>
      <button type="submit" class="button button-block button-calm">Login</button>
    </form>
  </ion-content>
</ion-view>