<ion-view view-title="Account" ng-controller="AccountCtrl">
  <ion-content>
    
    <div class="card" id="accountInfo">
      <div class="item item-divider">
        Account info
      </div>
      <div class="item item-text-wrap" ng-show="user.uid">
        <div>
          {{student.info.display_name}}<br />
          <em>{{student.info.email}}</em>
        </div>
        <button class="button button-assertive" ng-click="handleSignOut()">
          Sign out of your account <i class="icon ion-log-out"></i>
        </button>
      </div>
      <div class="item item-text-wrap" ng-show="!user.uid">
        <button class="button button-clear button-balanced" ui-sref="app.login">
          <i class="icon ion-log-in"></i> Sign in to your account
        </button>
      </div>
    </div>
    
    <div class="card list">
      <div class="item item-divider">
        Classes
      </div>
      
      <div class="item item-content">
        <button class="button button-clear button-positive" ui-sref="app.new-registration" id="searchForClassBtn">
          <i class="icon ion-ios-search"></i> Search for a class page
        </button>
      </div>
      
      <!-- TODO: Registrations should sort in order of when the registration was created. Currently not working. -->
      <label class="item item-radio" 
              ng-repeat="reg in student.registrations track by $index | orderBy : sortRegistration(reg) : true"
              ng-click="visitClassPage(reg.course.id)">
        <div class="item-content">
          {{reg.course.name}}<br />
          taught by {{reg.course.user.display_name}}<br />
          at {{reg.course.user.school.name}}
        </div>
      </label>
      
      <div ng-if="recentCourses.length > 0">
        <div class="item item-divider">
          Recently viewed classes
        </div>
        <div class="item item-content" ng-repeat="course in recentCourses track by $index"
                                       ng-click="visitClassPage(course.id)">
          {{course.name}}<br />
          taught by {{course.user.display_name}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
