.blankStateMessage {
  max-width: 400px;
  text-align: center;
  margin: 0px auto;
}
#welcomeMessage a, #welcomeMessage a:visited, #welcomeMessage a:link, #welcomeMessage a:active {
  color: #ff6600;
}

#reviewWordList {
  max-width: 700px;
  margin: 0px auto;
}
#reviewWordList h1 {
  text-align: center;
}
#reviewWordList table {
  border-collapse: collapse;
  margin: 0px auto;
}
#reviewWordList td {
  border: 1px solid #999;
  padding: 5px;
}

.audio_comment {
  padding: 5px;
  margin: 10px 0px;
  background-color: #CCC;
}
.audio_player {
  border: 1px solid black;
}

#accountInfo button {
  display: block;
}

span.formFeedbackError {
  border-top: 1px solid red;
  color: red;
}

div#spinnerOverlay {
  background-color: black;
  position: fixed;
  left:0;
  top:0;
  height:100%;
  width:100%;
  opacity: 0.3;
}