.blankStateMessage {
  max-width: 400px;
  text-align: center;
  margin: 0px auto;
}
#welcomeMessage a, #welcomeMessage a:visited, #welcomeMessage a:link, #welcomeMessage a:active {
  color: #ff6600;
}

.audio_comment {
  padding: 5px;
  margin: 10px 0px;
  background-color: #CCC;
}
.audio_player {
  border: 1px solid black;
}

#accountInfo button {
  display: block;
}

span.formFeedbackError {
  border-top: 1px solid red;
  color: red;
}